html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

header {
  padding: 1em;
  margin: 0.2em;
}

h1 {
  margin-bottom: 1em;
}

.flexContainer {
  display: flex;
  margin: 1em;
}

.tableOfContents {
  flex: 1;
  border: 2px solid black;
  padding: 1em;
  margin: 0.2em;
  background-color: #f6f8ff;
}

.section {
  margin: 0.5em 0;
  padding: 0;
  list-style: none;
  font-size: 1.1em;
  font-weight: 400;
}

.chapterList {
  margin: 0.5em 0;
  padding: 0.5em;
  list-style: none;
}

.chapter {
  margin: 0.5em;
  font-size: 0.9em;
  font-weight: 300;
}

.ruleListDiv {
  flex: 2;
  border: 2px solid black;
  padding: 1em 1em 1em 1em;
  margin: 0.2em;
}

.ruleLine {
  margin: 1em;
  list-style: none;
  font-weight: 300;
}

.formDiv {
  margin: 1.5em 1em 2em 3.5em;
}
